<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 	<bean id="person" class="com.zonray.core.Person" scope="prototype"
		lazy-init="false">
		<property name="number" value="1" />
		<property name="name" value="Balu" />
	</bean>
 -->
	<bean name="address" class="com.zonray.core.Employee" scope="singleton" lazy-init="true">
		<property name="eid" value="101" />
		<property name="name" value="Anil" />
	</bean>
</beans>
