<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<description>this is for Callback mehtods</description>
	
	<bean class="com.zonray.callbackmethods.PersonWithCallBackMethods">
		<property name="name" value="Ajay"/>
		<property name="address" value="Amaravathi"/>
		<property name="pid" value="10"/>
	</bean>
	
</beans>


